#undef ZMK_BEHAVIORS_KEEP_ALL

#define ZMK_BEHAVIORS_KEEP_IND
#define ZMK_BEHAVIORS_KEEP_BT
#define ZMK_BEHAVIORS_KEEP_GRESC
#define ZMK_BEHAVIORS_KEEP_SYS_RESET
#define ZMK_BEHAVIORS_KEEP_BOOTLOADER
#define ZMK_BEHAVIORS_KEEP_CAPS_WORD
#define ZMK_BEHAVIORS_KEEP_KEY_REPEAT
#define ZMK_BEHAVIORS_KEEP_KT
#define ZMK_BEHAVIORS_KEEP_LT
#define ZMK_BEHAVIORS_KEEP_MT
#define ZMK_BEHAVIORS_KEEP_SK
#define ZMK_BEHAVIORS_KEEP_STICKY_LAYER
#define ZMK_BEHAVIORS_KEEP_TO
#define ZMK_BEHAVIORS_KEEP_TOG
#define ZMK_BEHAVIORS_KEEP_TRANS

#include <dt-bindings/zmk/indicators.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp N1    &kp N1    &kp N2     &kp N3    &kp N4     &kp N5              &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp F12
&kp RBKT  &kp Q     &kp W      &kp E     &kp R      &kp T               &kp Y      &kp U      &kp I      &kp O      &kp P      &kp LBKT
&kp TAB   &kp A     &kp S      &kp D     &kp F      &kp G               &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp APOS
&kp ESC   &kp Z     &kp X      &kp C     &kp V      &kp B               &kp GRAVE  &kp CAPS   &kp N      &kp M      &kp COMMA  &kp DOT
&kp FSLH  &kp LGUI  &kp LCTRL  &kp LALT  &kp GRAVE  &kp LALT  &kp BSPC  &kp LSHFT  &kp GRAVE  &kp ENTER  &kp SPACE  &kp LBKT   &kp RCTRL  &kp GRAVE
                                                                        &kp RALT                                                          &kp RCTRL
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_DN C_VOL_UP>,
                <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };

        symbol_layer {
            bindings = <
&kp F1     &kp F2  &kp F3    &kp F4     &kp F5  &kp F6               &kp F7     &kp F8  &kp F9     &kp F10    &kp F11    &kp F12
&kp GRAVE  &trans  &kp LEFT  &kp RIGHT  &trans  &trans               &trans     &trans  &kp MINUS  &kp EQUAL  &kp EQUAL  &trans
&trans     &kp N1  &kp N2    &kp N3     &kp N4  &kp N5               &kp N6     &kp N7  &kp N8     &kp N9     &kp N0     &kp BSLH
&trans     &trans  &trans    &trans     &trans  &trans               &trans     &trans  &trans     &trans     &kp DOWN   &kp UP
&trans     &trans  &trans    &trans     &trans  &kp LCTRL  &kp LALT  &kp LSHFT  &trans  &kp RET    &kp RSHFT  &kp RCTRL  &kp RALT  &trans
                                                                     &trans                                                        &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                                        &trans                                          &trans
            >;
        };
    };
};
